
.Box
{
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    // background: #f1f1f1;
    height: 100%;
    .LoadinView{
        width: 100%;
        height: 100%;
        background: rgba($color: #fff, $alpha: 0.7);
        position: fixed;
        z-index: 999;
        top: 0%;
        left: 0%;
        
        animation: FadeIn 0.2s forwards;
        .LoadingBox{
            width: 150px;
            height: 150px;
            background: rgba($color: #000, $alpha: 0.6);
            border-radius: 6px;
        }
    }
    .TitleBox{
        width: 600px;
        // height: 200px;
        margin: 30px 0;
        color: #fff;
        img:nth-child(1){
            width: 128px;
        }
        .Title{
            margin-top: 30px;
            font-size: 45px;
            font-weight: bold;
        }
        .SmTitle{
            font-size: 21px;
            // font-weight: bold;
        }
    }
    .ContentBody{
        width: 500px;

        .Button{
            width: 350px;
            height: 80px;
            background: #f1f1f1;
            box-shadow: #333 -1px -1px 0 2px inset ,#fff 1px 1px 0 2px inset;
            border-radius: 10px;
            margin: 15px 0;
            font-size: 30px;
            font-weight: bold;
            color: rgba($color: #000000, $alpha: 0.6)
        }
    }
}

@keyframes FadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}